@import "tailwindcss";

@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Switzer";
  src: url("../fonts/Switzer-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #fff8f8;
  --accent: #ff2f00;
}

@theme {
  --font-sans: "Switzer", sans-serif;
}

section {
  @apply mx-auto grid w-full max-w-7xl grid-cols-2 gap-x-4 gap-y-8 p-8 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-16 lg:p-16;
}

p {
  @apply text-base lg:text-xl;
}

h2 {
  @apply col-span-full text-3xl font-black uppercase lg:text-5xl;
}

h3 {
  @apply text-xl font-bold lg:text-3xl;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
